#admin {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas:
        "adminNav adminNav"
        "adminAside adminMain"
        "adminFooter adminFooter";
    /* grid-template-rows: auto 90vh auto; */
}

#adminNav {
    display: flex;
    position: relative;
    background-color: #131921;
    align-items: center;
    padding: 10px 20px;
    color: white;
    justify-content: space-between;
}

#adminNav>img {
    width: 150px;
}

#adminNav>div {
    display: flex;
    width: 10em;
    padding: 5px 10px;
    position: relative;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#adminNav>a {
    font-size: 20px;
    z-index: 2;
    transition: .5s;
}

#adminNav>a:hover {
    cursor: pointer;
    color: #f89c35;
}

#adminNav>div>img {
    width: 50px;
    border-radius: 50%;
}

#adminNav>div>div {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    background-color: #131921;
    padding: 10px 10px;
    top: 100%;
}

#adminNav>div:hover>div {
    display: block;
}

#welcomeBackground {
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    /* z-index: -1; */
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .2));
}

#adminNav {
    grid-area: adminNav;
}

#adminFooter {
    grid-area: adminFooter;
}

#adminAside {
    grid-area: adminAside;
    background-color: #edf2f7;
}

#adminMain {
    grid-area: adminMain;
}

#products {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* Edit page */

#edit {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    margin: auto;
    padding: 30px;
}