a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-Size: 15px;
    font-weight: bold;
}

#nav {
    display: flex;
    align-items: center;
}

#searchBarr {
    display: flex;
    width: 40%;
    align-items: center;
}

#searchBarr>input {
    border-radius: 7px 0px 0px 7px;
}

#searchBarr>svg {
    padding: 7px;
    border-radius: 0px 7px 7px 0px;
    width: 6%;
}

#cartLink {
    text-align: center;
    position: relative;
}

#cartLink>:first-child {
    width: 70%;
    height: 2.5rem;
}

#cartItems {
    position: absolute;
    top: 20%;
    right: 0;
    background-color: #131921;
    text-align: center;
}